<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcsenxmk.q">

    <!-- Allow internet usage -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- OBSOLETE: SQLlite Login & Registration Activities -->

        <activity
            android:name=".misc.SignupActivity"
            android:label="Sign Up here"
            android:parentActivityName=".misc.LoginActivity"></activity>
        <activity
            android:name=".misc.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName=".misc.Intro">

        </activity>
        <!-- Firebase: Intro, Login & Registration Activities -->
        <activity
            android:name=".misc.Intro"
            android:label="Welcome Page!">

        </activity>

        <activity android:name=".login.FirebaseLoginActivity"
            android:parentActivityName=".login.FirebaseTestActivity"
            android:label="Login">

        </activity>

        <activity android:name=".customer.Init_Cust_Profile"
            android:parentActivityName=".login.SegregationActivity"
            android:label="Customer Account Registration"
            />

        <activity android:name=".login.SegregationActivity"
            android:parentActivityName=".login.FirebaseTestActivity"
            android:label="Account Creation"/>

        <activity android:name=".merchant.QueueActivity"
            android:parentActivityName=".login.SegregationActivity"
            android:label="Create new Queue!"/>

        <activity android:name=".login.FirebaseTestActivity"
            android:label="Registration">



        </activity>

        <activity android:name=".customer.RecyclerActivity"
            android:parentActivityName=".login.CustomerHomePageActivity"
            android:label="Search Results"></activity>

        <activity android:name=".login.SegregationActivityAfterLogin"
            android:parentActivityName=".login.FirebaseLoginActivity"
            android:label="Choose what you want to do">
        </activity>

        <activity android:name=".login.CustomerHomePageActivity"
            android:parentActivityName=".login.SegregationActivityAfterLogin"
            android:label="Customer Home Page"></activity>

        <!-- Cust Activities -->
        <activity
            android:name=".customer.Cust_Gallery"
            android:label="Stall Description" />
        <activity android:name=".customer.Cust_MainActivity">
        </activity>


        <activity android:name=".customer.Cust_HelpPage" />
        <activity android:name=".TEMP_Cust_GettingStarted" />


        <!-- Merchant Activities -->
        <activity android:name=".TEMP_Merc_GettingStarted" />

        <activity android:name=".merchant.Merc_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".merchant.Merc_Gallery" />
        <activity
            android:name=".merchant.Merc_HelpPage_ConfigQueue"
            android:label="Configuring the Queue"
            />
        <activity
            android:name=".merchant.Merc_HelpPage_CreateQueue"
            android:label="Creating the Queue"/>
        <activity
            android:name=".merchant.Merc_HelpPage_DeleteQueue"
            android:label="Deleting the Queue"/>
        <activity
            android:name=".merchant.Merc_QueueDisplay"
            android:screenOrientation="landscape"
            />

        <activity android:name=".merchant.MercQueueCreated"
            android:label="Queue Created"
            />

        <!-- Redundant activities -->
        <!-- redundant upload activity -->
        <activity android:name=".database.Upload_Activity" />
        <activity android:name=".login.MerchantViewQueuesActivityAfterLogin"
            android:parentActivityName=".login.SegregationActivityAfterLogin">


        </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>
</manifest>