<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcsenxmk.q">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!-- Firebase: Intro, Login & Registration Activities -->
        <activity android:name=".login.FirebaseLoginActivity"

            android:label="Q Login">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customer.Init_Cust_Profile"
            android:parentActivityName=".login.SegregationActivity"
            android:label="Customer Account Registration"
            />

        <activity android:name=".login.SegregationActivity"

            android:label="Account Creation"/>

        <activity android:name=".merchant.QueueActivity"

            android:label="Configure your Queue!"/>

        <activity android:name=".login.FirebaseRegistrationActivity"
            android:label="Registration"
            >
        </activity>

        <activity android:name=".login.SegregationActivityAfterLogin"

            android:label="Selection!">
        </activity>

        <!-- Customer Activities -->
        <activity
            android:name=".customer.Cust_Gallery"
            android:label="Stall Description" />
        <activity android:name=".customer.Cust_MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".customer.Cust_Search_Merchant"

            android:label="Search Page"
            >
        </activity>


        <!-- Merchant Activities -->

        <activity android:name=".merchant.Merc_MainActivity">
        </activity>
        <activity android:name=".merchant.Merc_Gallery" />
        <activity
            android:name=".merchant.Merc_HelpPage_ConfigQueue"
            android:label="Configuring the Queue"
            />
        <activity
            android:name=".merchant.Merc_HelpPage_OperateQueue"
            android:label="Operating the Queue"/>
        <activity
            android:name=".merchant.Merc_HelpPage_EmailSetting"
            android:label="Changing Account Emails and Password"/>

        <activity
            android:name=".merchant.Merc_QueueDisplay"
            android:screenOrientation="landscape"
            />

        <activity android:name=".merchant.MercQueueConfigured"
            android:label="Queue Configured!"
            />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>
</manifest>
