<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcsenxmk.q">

    <!-- Allow internet usage -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Intro, Login & Registration Activities -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".beginnerGuides.Intro"
            android:label="Welcome Page!" />
        <activity
            android:name=".sqllite.SignupActivity"
            android:label="Sign Up here"
            android:parentActivityName=".sqllite.LoginActivity"></activity>
        <activity
            android:name=".sqllite.LoginActivity"
            android:label="@string/app_name"

            android:parentActivityName=".beginnerGuides.Intro">

        </activity>

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Cust_QueueDesc"
            android:label="@string/title_activity_stall_desc"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".database.FirebaseLoginActivity"
            android:parentActivityName=".database.FirebaseTestActivity"/>

        <activity android:name=".database.ProfileActivity"
            android:parentActivityName=".database.SegregationActivity"
            />



        <activity android:name=".database.SegregationActivity"
            android:parentActivityName=".database.FirebaseTestActivity"/>

        <activity android:name=".database.QueueActivity"
            android:parentActivityName=".database.SegregationActivity"/>


        <activity android:name=".database.FirebaseTestActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".database.Upload_Activity">




        </activity>
        <activity android:name=".database.FirebaseUploadActivity"
            android:parentActivityName=".database.QueueActivity"></activity>

        <activity android:name=".database.RecyclerActivity"
            android:parentActivityName=".database.SegregationActivityAfterLogin"></activity>

        <activity android:name=".database.SegregationActivityAfterLogin"
            android:parentActivityName=".database.FirebaseLoginActivity">

        </activity>


        <activity android:name=".merchant.MerchantViewQueuesActivityAfterLogin"
            android:parentActivityName=".database.SegregationActivityAfterLogin">

        </activity>

        <activity android:name=".Init_SelAccType" />
        <activity android:name=".Init_MercAccCreation" />
        <activity android:name=".Init_CustAccCreation" />
        <activity android:name=".Init_AccCreated" />

        <!-- Cust Activities -->
        <activity
            android:name=".customer.Cust_Gallery"
            android:label="Stall Description" />
        <activity android:name=".customer.Cust_MainActivity">
        </activity>

        <activity android:name=".customer.Cust_HelpPage" />
        <activity android:name=".beginnerGuides.TEMP_Cust_GettingStarted" />

        <activity android:name=".beginnerGuides.TEMP_Merc_GettingStarted" />

        <activity android:name=".merchant.Merc_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".merchant.Merc_Gallery" />
        <activity
            android:name=".merchant.Merc_HelpPage"
            android:label="Help Page(Merchant)">
        </activity>
        <activity
            android:name=".merchant.Merc_QueueInfo"
            android:label="Queue Information" />
        <activity
            android:name=".merchant.Merc_QueueSettingsAndEdit"
            android:label="Queue Configuration" />
        <activity
            android:name=".merchant.Merc_AccInfoSettings"
            android:label="Account Settings" />

        <activity android:name=".merchant.MercCreateQueue"
            android:label="Create a Queue"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.STORAGE"/>
</manifest>